.product-list-container {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

.product-list-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-list-card {
  cursor: pointer;
  width: 18.75rem;
  @media screen and (max-width: 600px) {
    width: 10.938rem;
  }
}

.load-more-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more-btn {
  height: 2rem;
  border-radius: 6px;
}

.product-list-header {
  display: flex;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 1rem;
}